extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body

	//section.shop
		.container
			.row
				.col-md-9.order-md-1
					.row
						-for(x=0;x<9;x++)
							.col-sm-6.col-lg-4.item
								figure
									img.img-fluid(src="./img/b.jpg", alt="")
									figcaption
										h3 san pham
										.price &7
										.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum mollitia perferendis enim rerum voluptatibus quis eveniet dignissimos possimus itaque facilis! At itaque consequatur nulla eligendi, voluptates repellendus explicabo error repellat.
				.col-md-3.order-md-0
					.list-group
						-for(x=0;x<9;x++)
							a.btn.btn-more(href="") menu
	section.home.home-slider
		.container
			.row
				.col-4.item
					h3 Chúng tôi là FULL STACK VIETNAM
					p Reference site about Lorem Ipsum Reference site about Lorem Ipsum Reference site about Lorem Ipsum gfsu lorem adv sass develop over	
					a.btn.btn-more(href="") XEM CHI TIẾT
	section.home.home-banner
		.container
			.row
				.col
					#carouselExampleIndicators.carousel.slide(data-ride='carousel')
						ol.carousel-indicators
							li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
							li(data-target='#carouselExampleIndicators', data-slide-to='1')
							li(data-target='#carouselExampleIndicators', data-slide-to='2')
						.carousel-inner
							.carousel-item.active
								figure
									img.d-block.w-100(src='./img/banner.png', alt='First slide')
	
							|     
							.carousel-item
								figure
									img.d-block.w-100(src='./img/banner.png', alt='Second slide')
									
							|     
							.carousel-item
								figure
									img.d-block.w-100(src='./img/banner.png', alt='Third slide')
					

	section.home.home-fus
		.container
			.row
				.col.text-center
					h2 FULLSTACKVIETNAM
			.row.lov
				.col-sm-6.col-md-3
					a(href="#")
						figure
							img(src="./img/gg1.png", alt="")
							figcaption
								h3 TRUNG TÂM DÀO TẠO IT CHUYÊN NGHIỆP
								price $34.34
				.col-sm-6.col-md-3
					a(href="#")
						figure
							img(src="./img/gg2.png", alt="")
							figcaption
								h3 TRUNG TÂM DÀO TẠO IT CHUYÊN NGHIỆP
								price $34.34
				.col-sm-6.col-md-3
					a(href="#")
						figure
							img(src="./img/gg3.png", alt="")
							figcaption
								h3 TRUNG TÂM DÀO TẠO IT CHUYÊN NGHIỆP
								price $34.34
				.col-sm-6.col-md-3
					a(href="#")
						figure
							img(src="./img/gg4.png", alt="")
							figcaption
								h3 TRUNG TÂM DÀO TẠO IT CHUYÊN NGHIỆP
								price $34.34
	section.home.home-tis
		.container
			.row.gay
				//.col-sm-8
					h1 HẠNH PHÚC PHÍA SAU
					p USA'S HOTTEST JEAN
				// f.col-sm-4
					h6 SALE 20%
	section.home.home-last
		.container
			.row
				.col
					.owl-carousel.owl-theme
						.item
							img(src="./img/client_1.png", alt="")
							|     
						.item
							img(src="./img/client_2.png", alt="")
							|     
						.item
							img(src="./img/client_3.png", alt="")
							|     
						.item
							img(src="./img/client_4.png", alt="")
							|     
						.item
							img(src="./img/client_5.png", alt="")
							|     
						.item
							img(src="./img/client_6.png", alt="")

